<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Website Builder — <%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="app" class="container-fluid">
    <div id="site" class="content"></div>
    <div id="panel" class="bg-light sidebar"></div>
  </div>
</body>
</html>
